.ico
  display: inline-block
  vertical-align: middle

  &_tw
    background: url("../img/icon-twitter-blue.svg")
    width: 25px
    height: 25px

  &_linkedin-small
    background: url("../img/icon-linkedin-blue.svg")
    background-position: 0 0
    background-size: cover
    width: 18px
    height: 18px

  &_fb
    background: url("../img/icon-facebook-blue.svg")
    width: 25px
    height: 25px

  &_fb-small
    background: url("../img/icon-facebook-blue.svg")
    background-size: cover
    width: 18px
    height: 18px

  &_vk
    background: url("../img/icon-vk-blue.svg")
    width: 25px
    height: 25px

  &_tw-small
    background: url("../img/icon-twitter-blue.svg")
    background-position: 18px 0
    background-size: cover
    width: 18px
    height: 18px
