.section_speakers

  .horizontal-list

    &__item
      display: flex
      flex-direction: row
      flex-wrap: wrap

    &__el
      width: 24%
      margin: 0 5px 45px

  .item

    &__name
      +h300
      font-size: 18px

    &__descr
      +h100
      font-size: 14px

  .social

    &__list
      display: flex
      flex-direction: row
      margin-top: 10px

    &__el
      margin-right: 5px

  .row
    display: flex
    justify-content: center
