<footer class="footer">

  <div class="container">

    <div class="footer__top">

      <div class="footer__wrap">

        <div class="footer__left">

          <div class="contacts">
            <h6>Contact us</h6>
            <p>Kyiv, Desyatynna, 12</p>
            <p>+ 38 063 185 97 28</p>
            <a href="mailto:se2016@inhacking.com">Send us an e-mail</a>
          </div><!-- end contacts -->

        </div><!-- end footer__left -->

        <div class="footer__center">

          <div class="subscribe">
            <h6>Submit to our news letter</h6>
            <p>Submit and get all the info about our work, new events and new inputs.</p>
          </div>

          <form class="form">
            <input class="form__name" type="text" placeholder="Your Name">
            <input class="form__email" type="email" placeholder="Your E-mail">
            <input class="form__submit" type="submit">
          </form>

        </div>

        <div class="footer__right">
          <div class="map">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.0844554670316!2d30.517012315754883!3d50.45815197947635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce447a622297%3A0x1663cf5cc5dc5c6c!2z0LLRg9C7LiDQlNC10YHRj9GC0LjQvdC90LAsIDEyLCDQmtC40ZfQsg!5e0!3m2!1sru!2sua!4v1465740363978" width="510" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

          </div>
        </div>

      </div><!-- end footer__wrap -->

    </div><!-- end footer__top -->

    <div class="footer__bottom">

      <div class="copyright">
        Copyrights 2013-2016 SEConf - All rights reserved.
      </div>

    </div><!-- end footer__bottom -->

  </div><!-- end container -->

</footer>
