<header class="header">

  <div class="header__top container">

    <div class="top-line">

      <div class="top-line__left">

        <div class="logo">
          <img src="../img/logo-SE.svg" alt="logo">
        </div>

        <div class="user-menu">

          <ul class="user-menu__list">

            <li class="user-menu__el">
              <a href="#schedule" class="user-menu__link">About</a>
            </li>

            <li class="user-menu__el">
              <a href="#speakers" class="user-menu__link">Speakers</a>
            </li>

            <li class="user-menu__el">
              <a href="#partners" class="user-menu__link">Schedule</a>
            </li>

            <li class="user-menu__el">
              <a href="#contacts" class="user-menu__link">Tickets</a>
            </li>

            <li class="user-menu__el">
              <a href="#contacts" class="user-menu__link">Photo</a>
            </li>

            <li class="user-menu__el">
              <a href="#contacts" class="user-menu__link">Partners</a>
            </li>

            <li class="user-menu__el">
              <a href="#contacts" class="user-menu__link">Contacts</a>
            </li>

          </ul>

        </div><!-- end user-menu -->

      </div><!-- end top-line__left -->

      <div class="top-line__right">

        <div class="lang">

          <ul class="lang__list">

            <li class="lang__el is-active">
              <a href="#">Eng</a>
            </li>
            <li class="lang__el">
              <a href="#">Rus</a>
            </li>
            <li class="lang__el">
              <a href="#">Ukr</a>
            </li>

          </ul>

        </div>

      </div>
      <!-- end top-line__right -->

    </div>
    <!-- end top-line -->

  </div>
  <!-- end header__top -->

  <div class="header__bottom">

    <div class="container">

      <div class="row text-right">
        <div class="sponsor">
          <p>Platinum sponsor</p>
        </div>
      </div>

      <div class="row text-left">
        <div class="date-info">
          <p>Sep. 2-4</p>
          <p>Desyatynna str. 12</p>
        </div>
      </div>

      <div class="row text-lef">
        <h1 class="event-title">
          software<br>
          engineering<br>
          confrence
        </h1>
      </div>

      <div class="row">
        <a class="btn btn_big btn_blue" href="#">
          buy tickets
        </a>
      </div>

      <div class="row">
        <span class="text-right">The best choice for your personal growing and inspiring. Visit our greatest conference this summer.</span>
        <div class="social text-left">
          <ul class="social__list">
            <li class="social__el"></li>
            <li class="social__el"></li>
            <li class="social__el"></li>
          </ul>
        </div>
      </div>




    </div><!-- end container -->

  </div><!-- end header__bottom -->

</header><!-- end header -->
