<section class="section section_speakers">
  <div class="container">

    <div class="section__top">
      <h1 class="section__title section__title_2">Speakers</h1>
    </div>

    <div class="section__bottom">
      <div class="horizontal-list">

        <ul class="horizontal-list__item">

          <li class="horizontal-list__el">
            <div class="item">
              <div class="item__top">
                <img src="img/speaker-1.png" alt="speaker" />
              </div>
              <div class="item__bottom">

                <p class="item__name">
                  Christina Augillera
                </p>

                <p class="item__descr">
                  Business developer at Inhacking
                </p>

                <div class="social social_small">

                  <ul class="social__list">

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_lk-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_tw-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_fb-small"></i>
                      </a>
                    </li>

                  </ul>

                </div><!-- end social -->
              </div><!-- end item__bottom -->
            </div><!-- end item -->
          </li>

          <li class="horizontal-list__el">
            <div class="item">
              <div class="item__top">
                <img src="img/speaker-2.png" alt="speaker" />
              </div>
              <div class="item__bottom">

                <p class="item__name">
                  Jennifer Aniston
                </p>

                <p class="item__descr">
                  SEO at Inhacking
                </p>

                <div class="social social_small">

                  <ul class="social__list">

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_lk-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_tw-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_fb-small"></i>
                      </a>
                    </li>

                  </ul>

                </div><!-- end social -->
              </div><!-- end item__bottom -->
            </div><!-- end item -->
          </li>

          <li class="horizontal-list__el">
            <div class="item">
              <div class="item__top">
                <img src="img/speaker-3.png" alt="speaker" />
              </div>
              <div class="item__bottom">

                <p class="item__name">
                  Marie Zinebekie
                </p>

                <p class="item__descr">
                  Project manager at Inhacking
                </p>

                <div class="social social_small">

                  <ul class="social__list">

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_lk-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_tw-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_fb-small"></i>
                      </a>
                    </li>

                  </ul>

                </div><!-- end social -->
              </div><!-- end item__bottom -->
            </div><!-- end item -->
          </li>

          <li class="horizontal-list__el">
            <div class="item">
              <div class="item__top">
                <img src="img/speaker-4.png" alt="speaker" />
              </div>
              <div class="item__bottom">

                <p class="item__name">
                  Alex Shalakhin
                </p>

                <p class="item__descr">
                  Back-End Developer at Inhacking
                </p>

                <div class="social social_small">

                  <ul class="social__list">

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_lk-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_tw-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_fb-small"></i>
                      </a>
                    </li>

                  </ul>

                </div><!-- end social -->
              </div><!-- end item__bottom -->
            </div><!-- end item -->
          </li>

          <li class="horizontal-list__el">
            <div class="item">
              <div class="item__top">
                <img src="img/speaker-5.png" alt="speaker" />
              </div>
              <div class="item__bottom">

                <p class="item__name">
                  Eugene Ivanov
                </p>

                <p class="item__descr">
                  Senior Python Developer at Inhacking
                </p>

                <div class="social social_small">

                  <ul class="social__list">

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_lk-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_tw-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_fb-small"></i>
                      </a>
                    </li>

                  </ul>

                </div><!-- end social -->
              </div><!-- end item__bottom -->
            </div><!-- end item -->
          </li>

          <li class="horizontal-list__el">
            <div class="item">
              <div class="item__top">
                <img src="img/speaker-6.png" alt="speaker" />
              </div>
              <div class="item__bottom">

                <p class="item__name">
                  Justin Bieber
                </p>

                <p class="item__descr">
                  Idea inspiring at CoworkingPlatforma
                </p>

                <div class="social social_small">

                  <ul class="social__list">

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_lk-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_tw-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_fb-small"></i>
                      </a>
                    </li>

                  </ul>

                </div><!-- end social -->
              </div><!-- end item__bottom -->
            </div><!-- end item -->
          </li>

          <li class="horizontal-list__el">
            <div class="item">
              <div class="item__top">
                <img src="img/speaker-7.png" alt="speaker" />
              </div>
              <div class="item__bottom">

                <p class="item__name">
                  Leonardo DiCaprio
                </p>

                <p class="item__descr">
                  Just a Life Winner
                </p>

                <div class="social social_small">

                  <ul class="social__list">

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_lk-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_tw-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_fb-small"></i>
                      </a>
                    </li>

                  </ul>

                </div><!-- end social -->
              </div><!-- end item__bottom -->
            </div><!-- end item -->
          </li>

          <li class="horizontal-list__el">
            <div class="item">
              <div class="item__top">
                <img src="img/speaker-8.png" alt="speaker" />
              </div>
              <div class="item__bottom">

                <p class="item__name">
                  Katie Smirnova
                </p>

                <p class="item__descr">
                  Web-designer at Inhacking
                </p>

                <div class="social social_small">

                  <ul class="social__list">

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_lk-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_tw-small"></i>
                      </a>
                    </li>

                    <li class="social__el">
                      <a href="#" class="social__link">
                        <i class="ico ico_fb-small"></i>
                      </a>
                    </li>

                  </ul>

                </div><!-- end social -->
              </div><!-- end item__bottom -->
            </div><!-- end item -->
          </li>

    </div><!-- end horizontal-list -->

    <div class="row">
      <span class="btn btn_big btn_yellow">show more</span>
    </div>

  </div><!-- end section__bottom -->

</section><!-- end section_speakers -->
