<section class="section section_schedule">
  <div class="container">

    <div class="section__top">
      <h1 class="section__title section__title_3">Schedule</h1>
    </div>

    <div class="section__bottom">

      <div class="section__left">

        <div class="vertical-list">
          <h6 class="vertical-list__title">2.09</h6>
          <ul class="vertical-list__item">

            <li class="vertical-list__el is-active">
              <span class="vertical-list__text">
                UI & UX
              </span>
            </li>

            <li class="vertical-list__el">
              <span class="vertical-list__text">
                IoT & Bigdata
              </span>
            </li>

            <li class="vertical-list__el">
              <span class="vertical-list__text">
                Trends
              </span>
            </li>

            <li class="vertical-list__el">
              <span class="vertical-list__text">
                Startup
              </span>
            </li>

          </ul>
        </div><!-- end vertical-list -->

        <div class="vertical-list">
          <h6 class="vertical-list__title">3.09</h6>
          <ul class="vertical-list__item">

            <li class="vertical-list__el">
              <span class="vertical-list__text">
                Python
              </span>
            </li>

            <li class="vertical-list__el">
              <span class="vertical-list__text">
                Java
              </span>
            </li>

            <li class="vertical-list__el">
              <span class="vertical-list__text">
                Exotic
              </span>
            </li>

            <li class="vertical-list__el">
              <span class="vertical-list__text">
                Startup
              </span>
            </li>

          </ul>
        </div><!-- end vertical-list -->

        <div class="vertical-list">
          <h6 class="vertical-list__title">4.09</h6>
          <ul class="vertical-list__item">

            <li class="vertical-list__el">
              <span class="vertical-list__text">
                JS
              </span>
            </li>

            <li class="vertical-list__el">
              <span class="vertical-list__text">
                Android
              </span>
            </li>

            <li class="vertical-list__el">
              <span class="vertical-list__text">
                iOS
              </span>
            </li>

            <li class="vertical-list__el">
              <span class="vertical-list__text">
                Startup
              </span>
            </li>

          </ul>
        </div><!-- end vertical-list -->

      </div><!-- end section__left -->

      <div class="section__right">

        <div class="vertical-list">

          <div class="dots"></div>

          <ul class="vertical-list__item">

            <li class="vertical-list__el">

              <div class="time">
                <span>
                  11:00
                </span>
              </div>

              <div class="item">

                <div class="item__left">
                  <img src="img/speaker-img.png" alt="Speaker face" class="item__img">
                </div>

                <div class="item__right">
                  <h4 class="item__title_small">
                    Обглодайуглы Зинебеке, web-designer at Inhacking
                  </h4>

                  <h3 class="item__title">
                    What you should do if you have a date with mermaid
                  </h3>

                  <p class="item__descr">
                    A mermaid is a legendary aquatic creature with the head and upper body of a
                    female human and the tail of a fish.Mermaids appear in the folklore of many
                    cultures worldwide, including the Near East, Europe, Africa and Asia.
                  </p>
                </div>

              </div><!-- end item -->

            </li>

            <li class="vertical-list__el">

              <div class="time">
                <span>
                  12:00
                </span>
              </div>

              <div class="item">

                <h3 class="item__title">
                  Coffee break
                </h3>

              </div><!-- end item -->

            </li>

            <li class="vertical-list__el">

              <div class="time">
                <span>
                  12:30
                </span>
              </div>

              <div class="item">

                <div class="item__left">
                  <img src="img/speaker-img.png" alt="Speaker face" class="item__img">
                </div>

                <div class="item__right">
                  <h4 class="item__title_small">
                    Обглодайуглы Зинебеке, web-designer at Inhacking
                  </h4>

                  <h3 class="item__title">
                    What you should do if you have a date with mermaid
                  </h3>

                  <p class="item__descr">
                    A mermaid is a legendary aquatic creature with the head and upper body of a
                    female human and the tail of a fish.Mermaids appear in the folklore of many
                    cultures worldwide, including the Near East, Europe, Africa and Asia.
                  </p>
                </div>

              </div><!-- end item -->

            </li>

            <li class="vertical-list__el">

              <div class="time">
                <span>
                  12:45
                </span>
              </div>

              <div class="item">

                <h3 class="item__title">
                  Coffee break
                </h3>

              </div><!-- end item -->

            </li>

            <li class="vertical-list__el">

              <div class="time">
                <span>
                  13:15
                </span>
              </div>

              <div class="item">

                <div class="item__left">
                  <img src="img/speaker-img.png" alt="Speaker face" class="item__img">
                </div>

                <div class="item__right">
                  <h4 class="item__title_small">
                    Обглодайуглы Зинебеке, web-designer at Inhacking
                  </h4>

                  <h3 class="item__title">
                    What you should do if you have a date with mermaid
                  </h3>

                  <p class="item__descr">
                    A mermaid is a legendary aquatic creature with the head and upper body of a
                    female human and the tail of a fish.Mermaids appear in the folklore of many
                    cultures worldwide, including the Near East, Europe, Africa and Asia.
                  </p>
                </div>

              </div><!-- end item -->

            </li>

            <li class="vertical-list__el">

              <div class="time">
                <span>
                  14:00
                </span>
              </div>

              <div class="item">

                <div class="item__right">
                  <h4 class="item__title_small">
                    IT stand-up
                  </h4>

                  <h3 class="item__title">
                    Lamps talk to experienced developers with a sense of humor.
                  </h3>

                </div>

              </div><!-- end item -->

            </li>

            <li class="vertical-list__el">

              <div class="time">
                <span>
                  14:45
                </span>
              </div>

              <div class="item">

                <div class="item__left">
                  <img src="img/speaker-img.png" alt="Speaker face" class="item__img">
                </div>

                <div class="item__right">
                  <h4 class="item__title_small">
                    Обглодайуглы Зинебеке, web-designer at Inhacking
                  </h4>

                  <h3 class="item__title">
                    What you should do if you have a date with mermaid
                  </h3>

                  <p class="item__descr">
                    A mermaid is a legendary aquatic creature with the head and upper body of a
                    female human and the tail of a fish.Mermaids appear in the folklore of many
                    cultures worldwide, including the Near East, Europe, Africa and Asia.
                  </p>
                </div>

              </div><!-- end item -->

            </li>

            <li class="vertical-list__el">

              <div class="time">
                <span>
                  15:30
                </span>
              </div>

              <div class="item">

                <h3 class="item__title">
                  Coffee break
                </h3>

              </div><!-- end item -->

            </li>

            <li class="vertical-list__el">

              <div class="time">
                <span>
                  16:10
                </span>
              </div>

              <div class="item">

                <div class="item__left">
                  <img src="img/speaker-img.png" alt="Speaker face" class="item__img">
                </div>

                <div class="item__right">
                  <h4 class="item__title_small">
                    Обглодайуглы Зинебеке, web-designer at Inhacking
                  </h4>

                  <h3 class="item__title">
                    What you should do if you have a date with mermaid
                  </h3>

                  <p class="item__descr">
                    A mermaid is a legendary aquatic creature with the head and upper body of a
                    female human and the tail of a fish.Mermaids appear in the folklore of many
                    cultures worldwide, including the Near East, Europe, Africa and Asia.
                  </p>
                </div>

              </div><!-- end item -->

            </li>

            <li class="vertical-list__el">

              <div class="time">
                <span>
                  17:00
                </span>
              </div>

              <div class="item">

                <h3 class="item__title">
                  Panel Discussion
                </h3>

              </div><!-- end item -->

            </li>


            <li class="vertical-list__el">

              <div class="time">
                <span>
                  17:45
                </span>
              </div>

              <div class="item">

                <div class="item__left">
                  <img src="img/speaker-img.png" alt="Speaker face" class="item__img">
                </div>

                <div class="item__right">
                  <h4 class="item__title_small">
                    Обглодайуглы Зинебеке, web-designer at Inhacking
                  </h4>

                  <h3 class="item__title">
                    What you should do if you have a date with mermaid
                  </h3>

                  <p class="item__descr">
                    A mermaid is a legendary aquatic creature with the head and upper body of a
                    female human and the tail of a fish.Mermaids appear in the folklore of many
                    cultures worldwide, including the Near East, Europe, Africa and Asia.
                  </p>
                </div>

              </div><!-- end item -->

            </li>

            <li class="vertical-list__el">

              <div class="time">
                <span>
                  19:00
                </span>
              </div>

              <div class="item">

                <h3 class="item__title">
                  Finish
                </h3>

              </div><!-- end item -->

            </li>

          </ul>
        </div><!-- end vertical-list -->

      </div><!-- end section__right -->

    </div><!-- end section__bottom -->

  </div><!-- end container-->
</section><!-- end section_schedule -->
