<section class="section section_tickets">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title section__title_4">Tickets</h1>
    </div>

    <div class="section__bottom">
      <div class="item">

        <ul class="item__list">
          <li class="item__el">
            <div class="ticket is-active">
              <h4 class="sale">Pre-sales</h4>
              <p class="price">100</p>
              <p class="currency">hrn/day</p>
              <div class="list">
                <p>until June 20</p>
                <p>economy 20%</p>
                <p><span class="bold">300</span> hrn/3 days</p>
              </div>
              <div class="row">
                <span class="btn btn_small btn_yellow btn_br-none">BUY TICKETS</span>
              </div>
            </div>
          </li>

          <li class="item__el">
            <div class="ticket">
              <h4 class="sale">Sales</h4>
              <p class="price">250</p>
              <p class="currency">hrn/day</p>
              <div class="list">
                <p>until August 20</p>
                <p>economy 20%</p>
                <p><span class="bold">500</span> hrn/3 days</p>
              </div>
              <div class="row">
                <span class="btn btn_small btn_grey">BUY TICKETS</span>
              </div>
            </div>
          </li>

          <li class="item__el">
            <div class="ticket">
              <h4 class="sale">Final sales</h4>
              <p class="price">350</p>
              <p class="currency">hrn/day</p>
              <div class="list">
                <p>until June 20</p>
                <p>economy 10%</p>
                <p><span class="bold">700</span> hrn/3 days</p>
              </div>
              <div class="row">
                <span class="btn btn_small btn_grey">BUY TICKETS</span>
              </div>
            </div>
          </li>
        </ul>

      </div><!-- end item -->

      <div class="row">
        <div class="descr">
          If You want to buy more than 5 tickets you will have scecial discount and
           two hot girls with big boobs, yeah! And dont worry about food and
           alcohol - they can bring salo and horilka to your appartments.
        </div>
      </div>

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</section><!-- end section_tickets -->
