<div class="section section_photo">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title section__title_5">Photo</h1>
    </div>

    <div class="section__bottom">

      <ul class="list">
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-1-l.png">
            <img class="list__img" src="img/photo-1.png" alt="Photo" class="list__img">
          </a>
        </li>
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-2-l.png">
            <img class="list__img" src="img/photo-2.png" alt="Photo" class="list__img">
          </a>
        </li>
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-3-l.png">
            <img class="list__img" src="img/photo-3.png" alt="Photo" class="list__img">
          </a>
        </li>
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-4-l.png">
            <img class="list__img" src="img/photo-4.png" alt="Photo" class="list__img">
          </a>
        </li>
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-5-l.png">
            <img class="list__img" src="img/photo-5.png" alt="Photo" class="list__img">
          </a>
        </li>
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-6-l.png">
            <img class="list__img" src="img/photo-6.png" alt="Photo" class="list__img">
          </a>
        </li>
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-7-l.png">
            <img class="list__img" src="img/photo-7.png" alt="Photo" class="list__img">
          </a>
        </li>
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-8-l.png">
            <img class="list__img" src="img/photo-8.png" alt="Photo" class="list__img">
          </a>
        </li>
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-9-l.png">
            <img class="list__img" src="img/photo-9.png" alt="Photo" class="list__img">
          </a>
        </li>
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-10-l.png">
            <img class="list__img" src="img/photo-10.png" alt="Photo" class="list__img">
          </a>
        </li>
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-11-l.png">
            <img class="list__img" src="img/photo-11.png" alt="Photo" class="list__img">
          </a>
        </li>
        <li class="list__el">
          <a class="img-gallery" rel="gallery1" href="img/photo-12-l.png">
            <img class="list__img" src="img/photo-12.png" alt="Photo" class="list__img">
          </a>
        </li>
      </ul>

    </div>

  </div><!-- end container -->

</div><!-- end section_photo -->
