<div class="section section_partners">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title section__title_6">Partners</h1>
    </div>

    <div class="section__bottom">
      <ul class="list">
        <li class="list__el">
          <h6>Platinum sponsor</h6>
          <img src="img/sponsor-logo-1.png" alt="Work.ua logo">
        </li>
        <li class="list__el">
          <h6>Gold sponsor</h6>
          <img src="img/sponsor-logo-2.png" alt="Infopulse logo">
        </li>
        <li class="list__el">
          <h6>Silver sponsor</h6>
          <img src="img/sponsor-logo-3.png" alt="MEGOGO logo">
        </li>
      </ul>
    </div>

  </div><!-- end container -->

</div><!-- end partners -->
