<div class="section section_photo">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title section__title_5">Photo</h1>
    </div>

    <div class="section__bottom">

      <ul class="list">
        <li class="list__el">
          <img src="../img/photo-1.png" alt="Photo" class="list__img">
        </li>
        <li class="list__el">
          <img src="../img//photo-2.png" alt="Photo" class="list__img"
          ></li>
        <li class="list__el">
          <img src="../img/photo-3.png" alt="Photo" class="list__img">
        </li>
        <li class="list__el">
          <img src="../img/photo-4.png" alt="Photo" class="list__img">
        </li>
        <li class="list__el">
          <img src="../img/photo-5.png" alt="Photo" class="list__img">
        </li>
        <li class="list__el">
          <img src="../img/photo-6.png" alt="Photo" class="list__img">
        </li>
        <li class="list__el">
          <img src="../img/photo-7.png" alt="Photo" class="list__img">
        </li>
        <li class="list__el">
          <img src="../img/photo-8.png" alt="Photo" class="list__img">
        </li>
        <li class="list__el">
          <img src="../img/photo-9.png" alt="Photo" class="list__img">
        </li>
        <li class="list__el">
          <img src="../img/photo-10.png" alt="Photo" class="list__img"
          ></li>
        <li class="list__el">
          <img src="../img/photo-11.png" alt="Photo" class="list__img"
          ></li>
        <li class="list__el">
          <img src="../img/photo-12.png" alt="Photo" class="list__img"
          ></li>
      </ul>

    </div>

  </div><!-- end container -->

</div><!-- end section -->
