<section class="section section_about" id="about">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title section__title_1">About conference</h1>
    </div>

    <div class="section__bottom">

      <div class="days">

        <div class="day">

        <h5>2.09</h5>
        <h6>IT-CAREER & STARTUPS</h6>
        <p>День полностью посвящен ИТ-карьере и нетворкингу.</p>

        <div class="vertical-list">

          <h6>Хэдлайнер:</h6>

          <ul class="vertical-list__item">

            <li class="vertical-list__el">
              Project Management
            </li>

            <li class="vertical-list__el">
              Human Resources
            </li>

            <li class="vertical-list__el">
              Startup Alley (презентация
              стартапов)
            </li>

            <li class="vertical-list__el">
              Networking
            </li>

          </ul>

        </div><!-- end vertical-list -->

      </div><!-- end day -->

        <div class="day">

          <h5>3.09</h5>
          <h6>DEVELOPMENT,
            HIGHLOAD & IOT
          </h6>
          <p>Вопросы по всему циклу
            разработки и трендовые вещи.
            Обещаем настоящий хардкор!</p>

          <div class="vertical-list">

            <h6>Хэдлайнер:</h6>

            <ul class="vertical-list__item">

              <li class="vertical-list__el">
                Big Data & Highload Systems
              </li>

              <li class="vertical-list__el">
                Internet of Things
              </li>

              <li class="vertical-list__el">
                Software Development
              </li>

              <li class="vertical-list__el">
                QA & Testing
              </li>

            </ul>

          </div><!-- end vertical-list -->

        </div><!-- end day -->

        <div class="day">

          <h5>4.09</h5>
          <h6>WEB DEV & MOBILE</h6>
          <p>Все, что касается веба, проектирования облачных сервисов и мобильной разработки.</p>

          <div class="vertical-list">

            <h6>Хэдлайнер:</h6>

            <ul class="vertical-list__item">

              <li class="vertical-list__el">
                UI/UX
              </li>

              <li class="vertical-list__el">
                Front End & Back End
              </li>

              <li class="vertical-list__el">
                Frameworks, tricks etc
              </li>

            </ul>

          </div><!-- end vertical-list -->

        </div><!-- end day -->

      </div><!-- end days -->

      <div class="line"></div>

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</section><!-- end section_about -->
